body {
  font-family: Arial;
  background: #e7f3fa;
  text-align: center;
}

h1 {
  margin-top: 40px;
}

form {
  margin-top: 20px;
}

input {
  width: 350px;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  font-size: 15px;
  cursor: pointer;
}

ul {
  margin-top: 25px;
  display: inline-block;
  text-align: left;
}
