<!DOCTYPE html>
<html>
<head>
    <title>WebScour Search</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>🔍 WebScour Search Engine</h1>

<form method="POST">
    <input type="text" name="query" value="{{ query }}" placeholder="Search here...">
    <button type="submit">Search</button>
</form>

{% if results %}
<h2>Results</h2>

<ul>
    {% for doc, score in results %}
    <li>
        {{ doc }} — Score: {{ "%.4f" | format(score) }}
    </li>
    {% endfor %}
</ul>
{% endif %}

</body>
</html>

